html
  head
    title= `${title} | ${h.siteName}`    
    link(rel='stylesheet', href='/bulma/css/bulma.css')     
    link(rel='stylesheet', href='/dist/style.css')  
    link(rel="shortcut icon" type="image/png" href="/images/icons/b_192x192.png")
    link(rel="manifest" href="/pwa/manifest.json")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")  
    meta(name="apple-mobile-web-app-title" content="Boilerplate")
    link(rel="apple-touch-icon" href="/images/icons/apple-icon-b_48x48.png" sizes="48x48")
    link(rel="apple-touch-icon" href="/images/icons/apple-icon-b_256x256.png" sizes="256x256")
    link(rel="apple-touch-icon" href="/images/icons/apple-icon-b_512x512.png" sizes="512x512") 
  body
    block content
      .flipbook-container 
        if chapter
          p Bab #{chapter.number} :  #{chapter.title}   
          .flipbook 
            each result in results
              div.flipbook__text
                p=result
        div(class="buttons has-add-ons is-centered flipbook__menu")
          span(class="button is-info flipbookPrevious") Back 
          a(class="button has-text-success" href="/")
            i(class="fas fa-home is-medium") 
          span(class="button is-info flipbookNext") Next
          
    block scripts
      script(src="/pwa/javascripts/app.js")
      script(src="/dist/App.bundle.js")     
      script(src="/js/jquery.min.js")
      script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
